//Angle Border
.brd-angle:before {
    @include posAbsolute;
    top: 0; right: -13px;
    content: ' ';
    width: 0;
    height: 0;
    border-left: 13px solid rgba($colDark, 0.75);
    border-top: 20px solid transparent !important;
    border-bottom: 20px solid transparent !important;
}

.brd-angle:after {
    @include posAbsolute;
    top: 0; left: -13px;
    content: ' ';
    width: 0;
    height: 0;
    border-right: 13px solid rgba($colDark, 0.75);
    border-top: 20px solid transparent !important;
    border-bottom: 20px solid transparent !important;
}


//Margins
.mrgOff {
	margin: 0 !important;
}