/*font-family:'Helvetica Neue LT W01_25 UltLt';
font-family:'Helvetica Neue LT W01_35 Thin';
font-family:'Helvetica Neue LT W01_55 Roman';
font-family:'Helvetica Neue LT W01_71488914';
font-family:'Helvetica Neue LT W01_95 Black';
*/

$fontUltLt: 'Helvetica Neue LT W01_25 UltLt', sans-serif;
$fontThin: 'Helvetica Neue LT W01_35 Thin', sans-serif;
$fontRoman: 'Helvetica Neue LT W01_55 Roman', sans-serif;
$fontBold: 'Helvetica Neue LT W01_71488914', sans-serif;
$fontBlack: 'Helvetica Neue LT W01_95 Black', sans-serif;

body {
    font-family: $fontRoman;
    font-size: 14px; line-height: 20px;
    color: #FFF;
}

p {
    @include posRelative;
    margin: 0 0 16px 0; padding: 0;
    font-family: $fontRoman;
    font-size: 18px; line-height: 24px;
    letter-spacing: 1px;
    color: #FFF;
    text-align: left;
}

a {
    color: #FFF;
    text-decoration: none;
}

strong {
	font-family: $fontBold;
	font-weight:normal;
}


h1, h2, h3, h4 {
    @include posRelative;
    margin: 0 0 16px 0; padding: 0;
    color: #FFF;
	text-align: left;
}

h1 {
	margin-bottom: 32px;
    font-family: $fontThin;
    font-size: 80px; line-height: 80px;
	letter-spacing: 1px;
}

h2 {
	font-family: $fontBold;
	font-size: 49px; line-height: 49px;
	letter-spacing: 1px;

}

h3 {
	font-family: $fontThin;
	font-size: 32px; line-height: 32px;
	letter-spacing: 1px;

}

h4 {
	font-family: $fontThin;
	font-size: 28px; line-height: 32px;
	letter-spacing: 1px;

}

@media only screen
and (max-width: $canvas-bp-lrg) {

}

@media only screen
and (max-width: $canvas-bp-med) {

}

@media only screen
and (max-width: $canvas-bp-sml) {
    h1 {
        font-size: 28px; line-height: 30px;
    }
}



//Buttons
.btnHex {
    @include posRelative;
    margin: 0 32px 0 0; padding: 0 20px;

    width: auto; height: 32px;
	left:9px;

    background-color: rgba($colDark, 0.75);

    font-family: $fontBold; font-size: 20px; line-height: 32px; letter-spacing: 1px;
    text-align: center;
}

	.btnHex:before {
	    @include posAbsolute;
	    top: 0; right: -9px;
	    content: ' ';
	    width: 0;
	    height: 0;
	    border-left:9px solid;
	    border-top: 16px solid transparent !important;
	    border-bottom: 16px solid transparent !important;
	}

	.btnHex:after {
	    @include posAbsolute;
	    top: 0; left: -9px;
	    content: ' ';
	    width: 0;
	    height: 0;
	    border-right:9px solid;
	    border-top: 16px solid transparent !important;
	    border-bottom: 16px solid transparent !important;
	}

	.btnHexFull {
		width: calc(100% - 18px);
	}