/*font-family:'Helvetica Neue LT W01_25 UltLt';
font-family:'Helvetica Neue LT W01_35 Thin';
font-family:'Helvetica Neue LT W01_55 Roman';
font-family:'Helvetica Neue LT W01_71488914';
font-family:'Helvetica Neue LT W01_95 Black';
*/

$fontUltLt: 'Helvetica Neue LT W01_25 UltLt', sans-serif;
$fontThin: 'Helvetica Neue LT W01_35 Thin', sans-serif;
$fontRoman: 'Helvetica Neue LT W01_55 Roman', sans-serif;
$fontBold: 'Helvetica Neue LT W01_71488914', sans-serif;
$fontBlack: 'Helvetica Neue LT W01_95 Black', sans-serif;

body {
    font-size: 0px; line-height: 0px;
}

p {
    @include posRelative;
    margin: 0 0 16px 0; padding: 0;
    font-family: $fontRoman;
    font-size: 18px; line-height: 24px;
    letter-spacing: 1px;
    color: #FFF;
    text-align: left;
}

a {
    color: #FFF;
    text-decoration: none;
}

a:hover {
	color: $colOrng;
	text-decoration: none;
}

strong {
	font-family: $fontBold;
	font-weight:normal;
}


h1, h2, h3, h4, h5 {
    @include posRelative;
    margin: 0 0 16px 0; padding: 0;
	font-family: $fontBlack;
    color: #FFF;
	text-align: left;
	letter-spacing: 1px;
	line-height: 32px;
}

h1 {
	font-size: 32px;
}

h2 {
	font-size: 32px;
}

h3 {
	font-size: 24px;

}

h4 {
	font-size: 20px; line-height: 24px;

}

h5 {
	font-size: 18px; line-height: 24px;
}

.hSpecial {
	@include posRelative;
	margin: 0 0 32px 0; padding: 0;
	color: #FFF;
	text-align: left;

	font-family: $fontThin;
	font-size: 80px; line-height: 80px;
	letter-spacing: 1px;
}

@media only screen
and (max-width: $rspL) {

}

@media only screen
and (max-width: $rspM) {


	p {
		margin: 0 0 16px 0; padding: 0;
		font-size: 14px; line-height: 16px;
		letter-spacing: 01px;
	}

	.hSpecial {
		margin-bottom: 16px;
		font-size: 48px; line-height: 48px;
		letter-spacing: 1px;
	}

	h1, h2, h3, h4, h5 {
		letter-spacing: 0px;
		line-height: 32px;
		margin-bottom: 8px;
	}

	h1 {
		font-size: 30px;
	}

	h2 {
		font-size: 30px;
	}

	h3 {
		font-size: 22px; line-height: 24px;

	}

	h4 {
		font-size: 20px; line-height: 24px;

	}

	h5 {
		font-size: 16px; line-height: 16px;
	}
}

@media only screen
and (max-width: $rspS) {
    h1 {
        font-size: 28px; line-height: 30px;
    }
}

//Lists
ul, ol {
	@include posRelative;
	margin: 0 0 16px 0; padding: 0;
	font-family: $fontRoman;
	font-size: 18px; line-height: 24px;
	letter-spacing: 1px;
	color: #FFF;
	text-align: left;

}

//Image Handlers
.alignleft {
	margin-right: 16px;
}

.alignright {
	margin-left: 16px;
}

//Quotes and Specials
cite {
	@include posRelative;
	padding-left: 32px;
	margin-bottom: 32px;
}

cite:before {
	@include posRelative;
	margin-right: 16px;
	width: auto;
	height:100%;
	font-family: 'FontAwesome';
	font-size: 32px;
	content: '\f10d';

}


//Buttons
.btnHex {
    @include posRelative;
    margin: 0 32px 0 0; padding: 0 20px;

    width: auto; height: 32px;
	left:9px;

    background-color: rgba($colDark, 0.75);

    font-family: $fontBold; font-size: 20px; line-height: 32px; letter-spacing: 1px;
    text-align: center;
	color: #FFF;
}

	.btnHex:before {
	    @include posAbsolute;
	    top: 0; right: -9px;
	    content: ' ';
	    width: 0;
	    height: 0;
	    border-left:9px solid;
	    border-top: 16px solid transparent !important;
	    border-bottom: 16px solid transparent !important;
	}

	.btnHex:after {
	    @include posAbsolute;
	    top: 0; left: -9px;
	    content: ' ';
	    width: 0;
	    height: 0;
	    border-right:9px solid;
	    border-top: 16px solid transparent !important;
	    border-bottom: 16px solid transparent !important;
	}

	.btnHexFull {
		margin: 0 0 8px 0;
		width: calc(100% - 18px);
	}

@media only screen
and (max-width: $rspM) {

	.btnHex {
		font-size: 16px; letter-spacing: 0px;
		color: #FFF;
	}

	.btnHexFull {
		margin: 0 0 8px 0;
		width: calc(100% - 18px);
	}

}