


.landingP1 {
	@include flxV();

}

	.landingP1 .contentInr {
		padding-right: calc(((100% / 8) + (#{$grdGtr} - 2)) * 1);
	}

	.contentWrapPush {
		padding-top: 128px;
		background: rgba(#000000, 0.5);
	}




	.landingLogo {
		@include posRelative();
		margin-bottom: grd-rows(2);
		width:190px; height: 64px;
		background-image: url('../../dist/images/logoFull.svg');
		background-size: 100%;
	}



@media only screen
and (max-width: $rspS) {
	.landingP1 .contentInr {
		padding-right: 0;
	}

}